<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>  
    <link rel="stylesheet"href="style.css">
</head>
<body>
   <header>
    <h3>Chatbot</h3>   
    <div class="right-elements">
        <span<button class="login"> Log in </button></span>
        <span><button class="signup">sign up</button></span>
        <span>
            <div class="dropdown">
                <button class="dropbtn" id="moreButton">&#9776;</button>
                <div class="dropdown-content "id="dropdownContent">
                    <a href="#">Option 1</a>
                    <a href="#">Option 1</a>
                    <a href="#">Option 1</a>
                </div>
            </div>
        </span>
    </li>
    </div> 
    </nav>
   </header>
   <h2>Discover your alike</h2>
  <span><button class="Student">Student</button></span>
  <span><button class="Teacher">Teacher</button></span>
   <script>
   
    </script>
    
</body>
</html>